* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

button {
   border: none;
   outline: none;
}

.page {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #faf8ef;
}

.header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.score-details-container {
   display: flex;
}

.score-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 8px 24px;
   border-radius: 3px;
   background-color: #bbada0;
   font-weight: bold;
}

.score-container.best {
   margin-left: 12px;
}

.score-label {
   font-size: 14px;
   color: #eee4da;
}

.score {
   font-size: 24px;
   color: #ffffff;
}

.options-container {
   display: flex;
   justify-content: flex-end;
   margin-top: 12px;
   margin-bottom: 32px;
}

.new-game-button {
   border: none;
   background-color: #8f7a66;
   padding: 8px 16px;
   border-radius: 3px;
   color: #ffffff;
   font-weight: bold;
   font-size: 18px;
   cursor: pointer;
}

.game-area {
   width: 281px;
   background-color: #bbada0;
   border-radius: 4px;
   padding: 16px;
   position: relative;
}

.game-board {
   display: grid;
   grid-gap: 12px;
   grid-template-columns: 1fr 1fr 1fr;
}

.tile {
   width: 75px;
   height: 75px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2px;
   background-color: #cdc1b4;
   font-size: 32px;
   font-weight: bold;
   padding: 8px;
}

@media (min-width: 760px) {
   .game-area {
      width: 356px;
   }
   .tile {
      width: 100px;
      height: 100px;
   }
}

.winning-container,
.losing-container {
   width: 100%;
   height: 100%;
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   padding: 16px;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.winning-text,
.losing-text {
   text-align: center;
   color: #ffffff;
   margin-bottom: 16px;
}

.winning-buttons-container {
   display: flex;
}

.game-over-button {
   padding: 8px 12px;
   color: #ffffff;
   font-weight: 600;
   font-size: 16px;
   border-radius: 3px;
   background-color: #f77c5f;
   cursor: pointer;
}

.winning-new-game-button {
   margin-left: 12px;
}

.tile.two {
   background-color: #eee4da;
   color: #776e65;
}

.tile.four {
   background-color: #eee1c9;
   color: #776e65;
}

.tile.eight {
   background-color: #f3b27a;
   color: #ffffff;
}

.tile.sixteen {
   background-color: #f69664;
   color: #ffffff;
}

.tile.thirty-two {
   background-color: #f77c5f;
   color: #ffffff;
}

.tile.sixty-four {
   background-color: #f75f3b;
   color: #ffffff;
}

.tile.one-twenty-eight {
   background-color: #edc53f;
   color: #ffffff;
}

.tile.extra {
   background-color: #edc22e;
   color: #ffffff;
}
